.dashboard{
    display: flex;
    width: 100%;
}
.options{
    padding: 15px;
    width: 12%;
}
.options p{
    color: rgb(255, 255, 255);
    background-color: rgb(133, 131, 131);
    margin-bottom:15px ;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}

.options p:hover{
    background-color: rgb(216, 212, 212);
    color: black;
}
.form{
    width: 70%;
}
.list{
    display: flex;
    flex-direction: column;
}